.bloque1 {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.bloque1 div {
  padding-top: 25px;
  color: black;
  padding-bottom: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.bloque1 div a:hover {
  color: #da2822;
  cursor: pointer;
}

.seccionproductos,
.secciontickets,
.seccionnotificaciones,
.seccionbasedatos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seccionproductos a,
.secciontickets a,
.seccionnotificaciones a,
.seccionbasedatos a {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.bloque1 a {
  text-decoration: none;
  color: black;
}


#ticketid {
  font-weight: bold;
}

.botonesticket {
  display: flex;
  align-items: center;
}

.verticket {
  margin-left: auto;
}


.botonesticket a:hover {
  background-color: #ba221d;
}

.botonesticket button:hover {
  background-color: #ba221d;
  cursor: pointer;
}

.botonesticket button:first-child {
  margin-right: 50px;
}

.botonesticket button {

  color: white;
  background-color: #da2822;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  font-weight: bold;
}

.botonesticket p {
  margin-right: 10px;
}

.estado {
  display: flex;
  align-items: center;
}

.notificacion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 40px;
  width: 70%;
  color: black;
}

.notificacion img {
  height: 40px;
}

.notificacion button{
  color: white;
  background-color: #da2822;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  font-weight: bold;
}

.notificacion1,
.notificacion2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 13px;
}

.notificacion1 {
  color: black;
}

.notificacion2 {
  color: black;
}

.columna2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 280px;
}

.notificacion2 {
  font-size: 12px;
}

#h1notificaciones {
  border-bottom: 2px solid white;
  padding-bottom: 20px;
  width: 90%;
  text-align: center;
}



.estado p {
  margin-right: 10px;

}

.estado a:hover {
  background-color: #da2822;
}

.estado button:hover {
  background-color: #b4231e;
  cursor: pointer;
}

.estado button:first-child {
  margin-right: 50px;
}

.estado button {

  color: white;
  background-color: #da2822;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  font-weight: bold;
}



.credenciales {
  display: flex;
  border-bottom: 2px solid lightgray;
  padding-bottom: 5px;
  align-items: center;
  font-weight: bold;
}

#fechaticket{
  margin-left: auto;
}

.ticket {
  background-color: white;
  border: 1px solid lightgray;
  padding: 20px;
  padding-bottom: 5px;
  border-radius: 5px;
  width: 80%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: black;
}

.popup {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  color: black;
}

#h1base {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  width: 90%;
  text-align: center;
}


.popup-contenido {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.popup-botones {
  margin-top: 20px;
}

.popup-botones button {
  margin: 0 10px;
  border: none;
  padding: 5px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #3498db;
}

.popup-botones button:hover {
  background-color: #2c80b8
}


.disabled {
  pointer-events: none;
}

#imagenproductoform {
  height: 150px;

}

#editarform {
  text-align: center;

}

.input input:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 10px 5px rgb(55, 55, 255, 1);
}

.input {
  display: flex;
  align-items: center;
}



#contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.bloque2 {
  color: black;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid lightgray;
  margin-top: 30px;
  display: flex;
  border-radius: 25px;
  padding-bottom: 35px;
  width: 75%;
  flex-wrap: wrap;
  justify-content: center;
}


#main-content {
  min-height: 100vh;
}


.dividir {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.dividir2 {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.backup img {
  height: 120px;
  cursor: pointer;
}


.exportar img {
  height: 150px;
  cursor: pointer;
}

.backup button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
}

.backup {
  text-align: center;
}

.exportar {
  text-align: center;
}


.añadirform,
#editarform {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#editarform {
  flex-wrap: wrap;
}

.añadir {
  border-right: 1px solid lightgray;
  padding-right: 50px;
}

.añadir h2,
.editar h2 {
  margin-bottom: 1rem;
}

.añadirform button {
  background-color: #d32f2f;
  /* rojo profesional */
  color: #fff;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
}

.exportar button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
}



.añadirform textarea {
  width: 450px;
  height: 100px;
  resize: none;
  font-family: 'FuentePagina', sans-serif;
}

#numeros h4 {
  font-size: 12px;
}

#numeros input {
  width: 100px;
}

.fila {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.columna {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  align-items: center;
}

.editar {
  width: 40%;
}


.acciones {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
}


h1 {
  font-size: 50px;
  font-weight: bold;
}

input,
textarea {
  border: 2px solid #ccc;
  border-radius: 8px;
  resize: vertical;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  outline: none;
  background-color: #fff;
  padding: 0.3rem;
  color: #333;
}

input:focus,
textarea:focus {
  border-color: #d32f2f;
  /* rojo profesional */
  box-shadow: 0 0 5px rgba(211, 47, 47, 0.4);
  background-color: #fff;
}

@media(max-width: 1245px) {
  #editarform .fila {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media(max-width: 1110px){
  .dividir2{
    flex-direction: column;
    gap: 2rem;
  }
}