      .perfil{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 10px;
        text-align: center;
        float: left;
      }

      .navmenu{
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 1rem;
      }

      .navmenu div{
        padding-top: 25px;
        color: black;
        padding-bottom: 0.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        text-align: center;
      }
.secciondatos, .seccionconfiguracion, .seccionhistorial{
        display:flex;
        flex-direction: column;
        align-items: center;
      }

      .seccionconfiguracion{
        border-bottom:3px solid #da2822;
      }


      .navmenu div:hover{
        cursor: pointer;
        color: #da2822;
      }

      .navmenu a{
        text-decoration: none;
        font-size: 1.4rem;
        color: black;
      }

      .profileicon{
        width: 2rem;
        height: 2rem;
      }

      

      .seccionconfiguracion a{
        color: #da2822;
      }

      .seccionconfiguracion{
        width: 15rem;
      }
      
      .dividir{
        display: flex;
        padding-top: 6rem;
        padding-bottom: 4rem;
        justify-content: center;
        align-items: center;
      }

    

      .datocontainer{
        border: 1px solid lightgray;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap:3rem;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
      }

      input{
        border: none;
      }

      
      .organizar, .organizar2{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
      }

      .organizar2{
        flex-direction: column;
        align-items: start;
      }


      .dato a{
        font-weight:bold;
      }

      .dato{
        
        display: flex;
        align-items: center;
        justify-content: center;
        gap:4rem;
        flex-wrap:wrap;
      }

      .datosguardados{
        border-top: 2px solid black;
        padding-top: 45px;
        gap: 2rem;
        width: 95%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
      }


 


      .datosusuario h5{
        margin-bottom: 15px;
      }

      .input img{
        width: 20px;
      }

      #mensaje{
        background-color: white;
        color: red;
        padding: 20px;
        border-color: red;
        border-width: 2px;
        border-style: solid;    
        margin-top: 60px;
        border-radius: 5px;
        display: none;
       }


      #aplicar{
        outline: none;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 5px;
        display: none;
        background-color: #3498db;
        color: white;
        cursor: pointer;
      }

      .popup {
        position: fixed;
        color: black;
        top: 0;
        left: 70px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;
      }

      
      .popup-contenido {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
      }
      
      .popup-botones {
        margin-top: 20px;
      }
      
      .popup-botones button {
        margin: 0 10px;
        border: none;
        padding: 5px;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #3498db;
      }

      .popup-botones button:hover{
        background-color: #2c80b8
      }

      .input input{
        margin-right: 12px;
      }

      .disabled{
        pointer-events: none;
      }

      .input{
        display: flex;
        align-items: center;
      }


      .estadisticas p{
        font-size: 35px;
        font-weight: bold;
      }

      .estadisticas{
        text-align: center;
      }

      #contenido{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      .columna{
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .fila, .filagap{
        display: flex;
        align-items: center;
        gap: 0.8rem;
      }

      .filagap{
        gap: 2rem;
      }

      .tarjetaimg{
        width: 5rem;
        height: 5rem;
      }
  
      .bloque2{
        color: black;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-top: 30px;
        display: flex;
        border-radius: 25px;
        padding-bottom: 35px;
        width: 65%;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
      }

      .bloque2 h2{
        color: black;
      }

      .perfil-imagen{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid gray;
      }

      .perfil-imagen img{
        width: 100%;
        height: 100%;
      }

      .perfil-imagen2{
        width: 42px;
        height: 42px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid gray;
        position: relative;
        display: inline-block;
        margin-right: 10px;
      }

      .perfil-imagen2 img{
      margin: 0 auto;
      display: flex;
      flex:1 0 auto;
      justify-content: space-around;
      align-items: center;
      height: 100%;
    }
    .pago{
      display: flex;
      flex-direction: column;
      gap: 3rem;
      align-items: start;
    }
    .pago input{
      width: 8rem;
    }
      #tarjeta-input1, #tarjeta-input2, #tarjeta-input3{
        width: 18.8rem;
        font-size: 1rem;
      }

    .formulario{
      display: flex;
      width: 60%;
    }


    .pago p{
      font-size: 12px;
    }


    .datosguardados p{
      font-size: 12px;
    }

   


    .datosguardados input{
      padding: 0.3rem;
        border: 1px solid gray;
    }

    .datosguardados input[readonly]{
      color: gray;
    }

    .datosguardados input[readonly]:focus{
      border: 1px solid black;
      outline: none;
    }



    .direccion{
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .direccion input{
      width: 6rem;
    }

    .perfil-imagen-sidebar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid gray;
  position: relative;
  display: inline-block;
  margin-right: 10px;

}

.perfil-imagen-sidebar img {
    width: 100%;
    height: 100%;
}

    

    .botonfinal{
      margin: 0 10px;
        border: none;
        padding: 5px;
        color: white;
        font-weight:bold;
        cursor: pointer;
        border-radius: 5px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #da2822;
    }

    .botonfinal:hover{
      background-color: #ba241f;
    }
  
  