
    #main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .bloque-error {
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 25px;
        padding: 50px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    #error-h3{
        color: white;
    }

    