@font-face{
    font-family: 'FuentePagina';
    src: url('fonts/SFUIText-Heavy.otf') format('otf');
  }
  
  body {
    height:100%;
    margin: 0;
    padding: 0;
    background-color: #4A4E69;
    background-size: cover;
    font-family:'FuentePagina', sans-serif;
  }

  footer {
    background-color: #333;
    font-weight: bold;
    color: #fff;
    padding: 0px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid black;
  }
  
  .contenedor-footer {
      
      margin: 0 auto;
      display: flex;
      flex:1 0 auto;
      justify-content: space-around;
      align-items: center;
      height: 100%;
    }
  
  .logo-footer{
    display: flex;
    align-items: center;
  }

  .dropbtn:hover{
    background-color: #494949;
    cursor: pointer;
  }


  #menuButton{
    color: white;
  }
  #menuButtonShop{
    background-color: white;	
    }

  .logo-footer img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 100px;
  }

  .perfil-imagen{
        width: 42px;
        height: 42px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid gray;
        position: relative;
        display: inline-block;
        margin-right: 10px;
      }

      .perfil-imagen img{
        width: 100%;
        height: 100%;
      }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  .logo img {
    width: 120px;
    height: 120px;
  }

  .contenedor2 {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .block {
    color: white;
    flex: 0 0 45%;
    width: 45%;
    padding: 20px;
    display:inline-block;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(0,0,0,0.1);
    margin: 10px;
  }

  .btnenviar {
    padding: 15px;
    font-family:'FuentePagina',sans-serif;
  }

  fieldset {
    border: none;
  }

  .password-container {
    position: relative;
    padding: 5px;
  }
  
  .toggle-password {
    position: absolute;
    top: 52%;
    right: 25px;
    transform: translateY(-50%);
    cursor: pointer;
    background-image: url(../img/eye.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
  }
  
  /* Cambia el ícono cuando se muestra la contraseña */
  .toggle-password.show {
    background-image: url('../img/eye-slash.png');
  }

  .login {
    text-decoration:none;
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .login:hover {
    background-color: lightgray;
  }

  h3 {
    padding-bottom: 5px;
  }

  fieldset input{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: 1px gray;
    padding: 5px;
  }

  fieldset input:focus{
    outline: none;
    box-shadow: 0 0 10px 5px rgb(55,55,255,1);
  }

  #btn-login:hover {
    background-color: lightgray;
    cursor: pointer;
  }
  
  .block:nth-child(2){
    margin-right: 0 auto;
  }

  #sesioniniciada{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #sesioniniciada h2{
    text-align: center;
  }

  .olvidar:hover {
    color: blue;
    text-decoration: none;
  }

  .recomendaciones {
    width: 300px;   
    flex-grow: 1;
    order:1;
  }
  
  .formulario {
    width: 300px;
    order:2;
  }

  #mensaje {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba( 255, 0, 0, 0);
    display: none;
    border-color: red;
    border-width: 2px;
    border-style: solid;
  }

  #login-form {
    margin-bottom: 30px;
  }

  .primero {
    margin-bottom: 40px;
  }


  .politica {
    text-decoration: none;
    color: white;
  }

  .olvidar {
    color: white;
    float:left;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 12px;
  }

  .redes-sociales a img{
    display:inline-block;
    transition: transform 0.6s ease;
  }

  .redes-sociales a img:hover{
    transform: rotate(360deg);
  }

  .redes-sociales img {
    height: 30px;
    width: 30px;
    margin: 10px;
  }
  
  .derechos {
    display: flex;
    align-items: center;
  }

  .derechos p {
    margin: 0;
    margin-left: auto;
    margin-right: 150px;  
  }

 li {
    margin-bottom: 15px;
 }