

      .datos{
        width: 600px;
      }

      .main{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
      }

      .producto{
        font-weight: bold;
        border-top: 2px solid white;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 1rem;
      }

      input:focus {
    border-color: #d32f2f; /* rojo profesional */
    box-shadow: 0 0 5px rgba(211, 47, 47, 0.4);
    background-color: #fff;
    outline: none;
}



      #totalprecio{
        font-weight: bold;
        font-size: 25px;
        border-top: 3px solid #da2822;
        padding-top: 2rem;
        margin-top: -2rem;
      }
    
      #totalprecio p{
        width: fit-content;
        margin-left: auto;
      }

      #finalizar-compra{
      border:none;
      outline: none;
      background-color:#da2822;
      cursor: pointer;
      padding: 10px;
      border-radius: 5px;
      color: white;
     }

     #finalizar-compra:hover{
       background-color:#b4221d;
     }

     input[type="checkbox"]{
      margin-right: 0.5rem;
    }



  
      .popup-contenido{
        color: black;
      }
  
      h2{
          padding-bottom: 15px;
          border-bottom: 2px solid lightgray;
      }
  
      .filadatos{
        font-size: 13px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
        transition: transform 0.3s ease;
      }

      .imagen{
        text-align: center;
      }

      .filadatos:hover{
        transform: scale(1.1);
        cursor: pointer;
      }

      #flotar{
        float:right;
        margin-right: 40px;
      }

      .organizar2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        grid-area: Check;
      }

      .organizar{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 15px;
        align-items: center;
      }

      .organizar img{
        height: 80px;
      }

      #seguir{
        text-decoration: none;
        background-color:#3498db;
        color: white;
        font-weight:bold;
        padding: 10px;
        border-radius: 5px;
      }

      #seguir:hover{
        background-color:#2c80b8;
      }

      #mensaje {
        background-color: white;
        border-radius: 5px;
        padding: 20px;
        box-shadow: rgba( 255, 0, 0, 0);
        display: none;
        border-color: red;
        border-width: 2px;
        border-style: solid;
      }

      .formulario{
        width: 500px;
      }

      .formulario input{
        outline: none;
        border: 1px solid lightgray;
        height: 25px;
        border-radius: 5px;
        width: 100%;
        padding: 0.1rem;
        font-size: 0.8rem;
      }

      .direccion {
      text-align: left;
      height: fit-content;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1.5fr 0.8fr;
      grid-template-rows: 5vh 3vh 5vh 3vh 5vh 10vh;
      grid-template-areas: 
      "Nombre Apellidos empty1 Ciudad CodPost"
      "empty2 empty2 empty2 empty2 empty2"
      "Direccion Direccion empt3 empty3 empty3"
      "empty4 empty4 empty4 empty4 empty4"
      "Pais Pais empty5 Telefono Telefono"
      "Check Check Check Check Check";
    }

    .direccion p{
        margin-top: 0px;
        font-size: 10px;
        margin-bottom: 0px;
        font-weight: bold;
      }

      .direccion input{
        font-size: 15px;
      }

    .nombre {
      grid-area: Nombre;
      width: 100%;
    }

    .nombre input {
      width: 90%;
    }

    .apellidos {
      grid-area: Apellidos;
    
    }

    .ciudad{
      grid-area: Ciudad;
      width: 92%;
    }

    .codigopost{
      grid-area: CodPost;
      height: max-content;
    }

    .direccion1{
      grid-area: Direccion;
    }

    .pais{
      grid-area: Pais;
    }

    .telefono{
      grid-area: Telefono;
    }

    .empty{
      grid-area: empty1;
    }
    .empty2{
      grid-area: empty2;
    }
    .empty3{
      grid-area: empty3;
    }
    .empty4{
      grid-area: empty4;
    }
    .empty5{
      grid-area: empty5;
    }
    .pago{
      font-size: 10px;
      height: fit-content;
      display: grid;
      grid-template-columns: 10vw 0.7fr 0.8fr 0.8fr;
      grid-template-rows: 1fr;
      grid-template-areas:
      "Tarjeta empty6 Caducidad Codigoseg";
    }

    .tarjeta{
      grid-area: Tarjeta;
    }

    .empty6{
      grid-area: empty6;
    }

    .caducidad{
      grid-area: Caducidad;
      text-align: left;
    }
    
    .caducidad input{
      width: 90%;
    }



    .tarjeta p, .caducidad p, .codigoseg p{
      margin-bottom: 0;
      font-weight: bold;
    }

    .codigoseg{
      grid-area: Codigoseg;
    }


      h2{
        padding-bottom: 15px;
        border-bottom: 2px solid lightgray;
    }

      #guardar{
        width: 15px;
        border: none;
        outline: none;
      }


      .organizar p{
       
        margin-top: 0px;
        font-size: 12px;
        margin-bottom: 0px;
      }

      #sesioniniciada{
        align-items: center;
        justify-content: center;
      }
    
      #sesioniniciada h2{
        text-align: center;
      }

      #sesioniniciada img{
        height: 400px;
        margin-right: 80px;
      }

      .block {
        color: black;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 25px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background-color: white;
        margin: 10px;
        height: fit-content;
      }
      
  
      
    #producto-alink{
      color: black;
    }

    #producto-alink:hover{
      color: #da2822;
      text-decoration: none;
    }
  
    .container, .main{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        padding-top: 7rem;
    }
  
    h1{
      font-size: 50px;
      font-weight: bold;
      color: white;
    }

    #precionom{
        width: 300px;
    }
  
    

    .container button{
        margin-bottom: 30px;
    }

    .popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;
      }

  
      
      .popup-contenido {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
      }
      
      .popup-botones {
        margin-top: 20px;
      }
      
      .popup-botones button {
        margin: 0 10px;
        border: none;
        padding: 5px;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #3498db;
      }

      .popup-botones button:hover{
        background-color: #2c80b8
      }
  
  
  
      
      
    
    .contenedor-footer {
      
      margin: 0 auto;
      display: flex;
      flex:1 0 auto;
      justify-content: space-around;
      align-items: center;
      height: 100%;
    }

    #product-count{
      margin-right: 50px;
    }

    .caracteristicas{
        display: flex;
        margin-left: 200px;
        justify-content: space-around;
        font-weight: bold;
    }
    

    #caracteristicanombre{
        margin-right: 35px;
    }

    #product-name{
        width: 180px;
        margin-right: 25px;
    }
  
    #product-image{
      min-width:8rem;
    }
    
    .product p{
      margin-top: 0px;
      font-weight: bold;
    }
  
    .product-details {
      display: flex;
      font-size: 15px;
    }

    @media(max-width: 1615px){
      .container{
        flex-direction: column;
        padding-top: 7rem;
        margin-bottom: 1rem;
      }

      .direccion{
        grid-template-rows: 3vh 2vh 3vh 2vh 3vh 3vh;
      }
    }