
  .logomain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  .logomain img {
    width: 18rem;
    height: 6rem;
  }

  .contenedor2 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    flex: 1;
    align-items: center;
  }
  
  .block {
    color: black;
    width: 100%;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
    border: 1px solid lightgray;
    margin: 10px;
    height: 15rem;
  }

  .sesion{
    display: flex;
    align-items: center;
  }

  .formulario{
   height: 20rem;
   width: 25rem;
  }

  .formulario h1{
    line-height: 4rem;
  }

  .formulario h2{
    color: #da2822;
  }


  h3 {
    padding-bottom: 5px;
  }

  
  .recomendaciones {
    width: 300px;   
    flex-grow: 1;
    order:1;
  }
  

