
  
    
  
  
  
    h1{
      font-size: 60px;
      font-weight: bold;
      color: black;
      margin-bottom: 3rem;
    }
  
    .dividir-bloque{
        display: flex;
        justify-content: space-between;
        border: 1px solid lightgray;
        border-radius: 0.6rem;
        padding: 2rem;
    }
  
    .bloque-error {
        margin: 0 auto;
        border-radius: 25px;
        padding: 50px;
        width: 60%;
    }

    .bloque1{
    width: 100%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    }

    .bloque1 h3{
        color: #da2822;
        text-align: left;
        font-size: 20px;
    }

    .bloque1 h4{
        color: black;
        text-align: left;
        font-size: 30px;
        margin-top: 10px;
    }

    .bloque1 h2{
        font-size: 40px;
        color: black;
        text-align: center;
        border-bottom: 2px solid white;
        padding-bottom: 10px;
    }

    .bloque2 h3{
        font-size: 30px;
        color: black;
        text-align: center;
    }


    
  
    #error-h3{
        color: white;
    }
    .bloque-error h1{
        font-size: 80px;
        text-align: center;
    }

 #main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    @media(max-width: 1700px){
        .bloque2{
            order: 1;
        }

        .bloque1{
            order: 2;
        }

        .dividir-bloque{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }