@font-face{
    font-family: 'FuentePagina';
    src: url('fonts/SFUIText-Heavy.otf') format('otf');
  }
  
  body {
    height:100%;
    margin: 0;
    padding: 0;
    background-color: #4A4E69;
    background-size: cover;
    font-family:'FuentePagina', sans-serif;
  }
  
  .navbar {
    background-color: #333;
    color: white;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid black;
    }
  
  
  
  
  
  
    .logo a {
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
    }
    
     #myDropdownTienda a{
      font-weight: bold;
      font-size: 18px;
     }
  
    .logo a img{
      width:100px;
      height:100px;
      margin-top: 10px;
      margin-left: 50px
    }
  
    .nav-links {
      list-style: none;
      display: flex;
      font-size: 25px;
      margin-right: auto;
    }
    
    .precio {
      margin-right: 10px;
      margin-left: 20px;
      margin-bottom: 2px;
    }
  
    .nav-links li {
      display: flex;
      align-items: center;
     
      text-align: center;
      position: relative;
    }
  
    .busqueda {
      padding-right: 0px;
        padding-left: 0px;
        border: none;
    }
  
  
    .sesiones {
      list-style: none;
      display: flex;
      font-size: 20px;
      margin-right: auto;
    }
    
    
    .sesiones li:hover {
      /* Estilos al hacer hover */
      transform: scale(1.1);
      background-color: #494949;
    }
    
    
    .sesiones a {
      text-decoration: none;
      
    }
  
    .categorias {
      border: 3px solid black;
        z-index: 9998;
    }
  
    .sesiones a li{
      font-weight: bold;
      color: white;
      margin-left: 50px;
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      transition: background-color 0.3s ease;
      }
    
  
    .carrito:hover {
      background-color: #494949;
    }
  
    .eliminar-btn{
      background: url(../img/cross.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 10px;
      height: 10px;
      border: none;
      transition: transform 0.3s ease;
      padding-right: 10px;
      padding-bottom: 10px;
      margin-left: 30px;
    }
  
    .eliminar-btn:hover{
      transform: scale(1.1);
      cursor: pointer;
    }
  
    .carrito {
      margin-left: 20px;
      padding: 10px;
    }
   
  
    .cart-menu {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      
      
  
      .cart-menu img {
        width: 30px;
        margin-right: 5px;
      }
      
      .cart-sidebar {
        z-index:9999;
        position: fixed;
        top: 0;
        right: -500px;
        width: 300px;
        min-height: 100vh;
        background-color: #333;
        padding: 20px;
        transition: right 0.3s ease-in-out;
      }
  
      .cart-sidebar-footer.hide {
        display: none;
      }
  
      .cart-sidebar-footer.show {
        display: block;
      }
      
      .cart-sidebar.show {
        right: 0;
      }
  
      .productname{
        font-size: 12px;
        font-weight: normal;
        margin-left: 0px;
      }
      
  
      #cart-items {
        list-style: none;
        padding: 0;
        font-size: 15px;
        font-weight: bold;
      }
      
      #cart-items li {
        border-top: 2px solid lightgray; /* Borde superior */
        border-bottom: 2px solid lightgray; /* Borde inferior */
        border-left-width: 0; /* Sin borde izquierdo */
        border-right-width: 0; /* Sin borde derecho */
        margin-bottom: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: center;
      }
  
  
      #cart-items p{
        font-size: 12px;
        font-weight: bold;
        color: rgb(199, 198, 198);
      }
  
      #main-content {
        min-height: 100vh;
      }
  
  
  
    .sesiones li a:hover {
      color: darkblue;  /* Cambia el color al pasar el ratón por encima */
    }
    
  div[contenedor]{
    text-align: center;
    position: relative;
    min-height: 100vh;
  }
  
  #overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta el nivel de opacidad (0.5 representa un 50% de opacidad) */
    z-index: 9996; /* Asegúrate de que el valor de z-index sea mayor que el de otros elementos en la página */
    display: none;/* Oculta inicialmente el overlay */
  }
  
  
    .carrito-vaciar-btn {
      border: none;
      background-color: darkslateblue;
      color: white;
      border-radius: 5px;
      padding: 10px;
    }
  
    .carrito-checkout {
      border: none;
      background-color: darkslateblue;
      color: white;
      border-radius: 5px;
      padding: 10px;
      text-decoration: none;
      font-size: 13px;  
      float:right;
      }
  
    .carrito-checkout:hover {
      background-color: rgb(60, 51, 123);
      cursor: pointer;
    }
  
    #login-carrito {
      text-align: center;
    }
  
    #carrito-error {
      width: 200px;
      height: 200px;
      margin-left: 35px;
    }
  
    .carrito-vaciar-btn:hover {
      background-color: rgb(60, 51, 123);
      cursor: pointer;
    }
  
  
    .product {
      background-color: rgba(0, 0, 0, 0.1);/* Color de fondo del cuadro */
      padding: 30px; /* Espacio interno del cuadro */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra del cuadro */
      margin: 0 auto; /* Otros estilos adicionales, como tamaño de fuente, color de texto, etc. */
    }
  
  
  
    h1{
      font-size: 50px;
      font-weight: bold;
      color: white;
    }
  
    .slider-container {
      margin-left: 45px;
      max-width: 95%;
      margin-bottom: 100px;
    }
  
    .cuenta img {
      margin-right: 5px;
    }
  
    .cuenta {
      position: relative;
      display: flex;
      align-items:center;
      transition: transform 0.3s ease;
    }
    
  
  
    .dropbtn {
    border: none;
    width: 100%;
    color: black;
    background-color: #333;
    padding: 16px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
  
    .button-content {
      display: flex;
      align-items: center;
    }
  
    .button-content-tienda {
        display: flex;
        align-items: center;
      }
  
    .dropbtn img.logo {
      margin-right: 5px;
      height: 35px;
      width: 35px;
      margin-right: 5px;
    }
    
    #flecha{
      height: 12px;
      width: 12px;
    }
  
    #rayas{
        height: 20px;
        width: 20px;
        padding-right: 10px;
      }
  
  
      .rotar-180-tienda{
        transform: rotate(180deg);
        transition: transform 0.3s ease;
      }
    
      .rotar-0-tienda{
        transform: rotate(0deg);
        transition: transform 0.3s ease;
      }
    
      .rotar-transicion-tienda {
        transition: transform 0.3s ease;
      }
  
    .rotar-180{
      transform: rotate(180deg);
      transition: transform 0.3s ease;
    }
  
    .rotar-0{
      transform: rotate(0deg);
      transition: transform 0.3s ease;
    }
  
    .rotar-transicion {
      transition: transform 0.3s ease;
    }
  
    .dropbtn h3 {
      margin: 0;
      flex-grow: 1;
      margin-right: 5px;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      top:100%;
      left: 0;
      background-color: white;
      min-width: 500px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 9997;
      transition: background-color 0.3s;
      font-size: 12px;
    }
    
  
    .dropdown-content.show{
      display:block;
    }
  
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    
    .menu-contenedor {
      width: fit-content;
      min-width: 100%;
    }
  
    .dropdown-content a:hover {
      background-color: #f1f1f1;
      transition: background-color 0.3s;
    }
    
    .show {
      display: block;
    }
    
  
    .product {
      max-height: 300px;
      overflow: hidden;
    }
  
    .contenedor-imagen {
      position: relative;
      display: inline-block;
      height: 300px;
      transition: transform 0.3s ease;
    }
  
    
  
    .estrella{
      width: 18px;
      height: 18px;
    }
  
    .contenedor-imagen:hover {
      transform: scale(1.1);
      transition: transform 0.3s ease;
      cursor: pointer;
    }
    
  
    .oferta-fondo2 {
      position: absolute;
      top: 0;
      right: 0px;
      padding: 2px;
      color: white;
      display: flex;
      
    }
  
    .oferta-fondo {
      position: absolute;
      top: 0;
      right: 0px;
      background-color:brown;
      padding: 2px;
      color: white;
      display: flex;
      justify-content:flex-end;
      align-items: flex-start;
      box-sizing: border-box;
    }
  
    .oferta {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 0;
      margin-left: 5px;
      padding: 0 8px;
      box-sizing: border-box;
      position: relative;
    }
  
    .oferta-fondo h2{
      font-size: 12px;
     
    }
  
    .texto-fondo {
      position: absolute;
      bottom: 0;
      left: 0;
      width:100%;
      height: 50px;
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      text-align: center;
      box-sizing: border-box;
    }
    
    .texto-fondo h2 {
      font-size: 11px;
      margin-bottom: 6px;
    }
  
    .anuncios{
      display: flex;
      justify-content: space-around;
    }
  
    #menuButtonShop{
      background-color: white;	
      }
  
      #menuButton{
        color: white;
      }
  
    footer {
      background-color: #333;
      font-weight: bold;
      color: #fff;
      padding: 0px 0;
      width: 100%;
      font-weight: bold;
      border-top: 1px solid black;
    }
  
    .perfil-imagen{
          width: 42px;
          height: 42px;
          border-radius: 50%;
          overflow: hidden;
          border: 2px solid gray;
          position: relative;
          display: inline-block;
          margin-right: 10px;
  
        }

        .dropbtn:hover{
    background-color: #494949;
    cursor: pointer;
  }
  
        .perfil-imagen img{
          width: 100%;
          height: 100%;
        }
    
    .contenedor-footer {
      margin: 0 auto;
      display: flex;
      flex:1 0 auto;
      justify-content: space-around;
      align-items: center;
      height: 100%;
    }
    
    .politica {
      text-decoration: none;
      color: white;
    }
  
    .logo-footer{
      display: flex;
      align-items: center;
    }
  
    .busqueda-texto{
        padding: 20px;
        padding-right: 20px;
        width: 600px;
  
        border: 1px solid lightgray;
    }
  
    .busqueda-formulario {
        display:flex;
        align-items: center;
    }
  
    .busqueda-boton {
        background: url('../img/lupa.png') no-repeat center center;
        background-size: cover;
        border: none;
        width: 20px;
        height: 20px;
        position: relative;
        right: 30px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
  
    #cart-sidebar p{
      font-weight: bold;
    }
  
    .cart-sidebar img{
      height: 35px;
      margin-right: 8px;
    }
  
    .cart-sidebar h3 {
      font-size: 15px;
      margin-right: 30px;
    }
  
    .product-image{
      height: 300px;
    }
    
    .product p{
      margin-top: 0px;
      font-weight: bold;
    }
  
    .product-details {
      display: flex;
      font-size: 15px;
    }
  
    .busqueda-boton:hover {
        transform: scale(1.2);
    }

    .bloque {
        color: white;
        flex: 0 0 45%;
        padding: 20px;
        display:inline-block;
        border-radius: 25px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background-color: rgba(0,0,0,0.1);
        margin: 10px;
      }

      .producto-imagen{
        margin-right: 30px;
        width: 323px;
      }

      .fechas{
        width: 300px;
      }

      .estado{
        width: 300px;
      }

      .producto-detalles{
        display: flex;
        align-items: center;
        background-color: #9A8C98;
        padding: 15px;
        border-radius: 5px;
      }

      .producto-detalles p{
        font-weight: bold;
        margin-right: 30px;
      }

     form{
      display: flex;
     }


      .formulario{
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .boton{
        display: flex;
        align-items: center;
        align-self: flex-end;
      }

      .razon select{
        width: 100%;
        height: 30px;
        border-radius: 5px;
        border: none;
      }

      .razon{
        margin-right: 30px;
      }

      .producto-detalles img{
        height: 150px;
      }
   
  
    .busqueda:focus{
        outline: none;
        border: 1px solid black;
    }

    .boton button{
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: #F2E9E4;
        outline: none;
        border: 1px solid #C9ADA7;
        padding: 20px;
        padding-left: 35px;
        padding-right: 35px;
        font-size: 20px;
        color: black;
        font-weight: bold;
        cursor: pointer;
        width: 100%;
      }

    .detalles{
        text-align: left;
        margin-right: 30px;
    }

    .detalles textarea{
        width: 300px;
        height: 58px;
        box-sizing: border-box;
        text-align: left;
        font-family: 'FuentePagina', sans-serif;
    }
  
    .logo-footer img{
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }

    .container{
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
    .logo img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
    
    .redes-sociales a img{
      display:inline-block;
      transition: transform 0.6s ease;
      padding-top: 10px;
    }
  
    .redes-sociales a img:hover{
      transform: rotate(360deg);
    }
  
    .redes-sociales img {
      height: 30px;
      width: 30px;
      margin: 10px;
    }
    
  
    .derechos {
      display: flex;
      align-items: center;
    }
  
    .derechos p {
      margin: 0;
      margin-left: auto;
      margin-right: 150px;  
    }
  