  
    .reportar{
      display: flex;
    }

    .reportar img{
    height: 20px;
    margin-left: auto;
    }

    #reportar{
    background-color: white;
    color: #da2822;
    font-weight: bold;
    padding: 0;
    }
    
  
       #mensaje{
        background-color: white;
        color: red;
        padding: 20px;
        border-color: red;
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;
        display: none;
       }

       #mensaje2{
        background-color: white;
        color: red;
        padding: 20px;
        border-color: red;
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;
        display: none;
       }
      

  
    .container {
        max-width: 1200px;
        margin: 0 auto;
        border-radius: 25px;
        padding-top: 5rem;
        padding-bottom: 25px;
        margin-bottom: 50px;
        margin-top: 6rem;
      }

      .product {
        display: flex;
        gap: 4rem;
      }
      .product-image {
        padding: 2rem 30px;
        height: 320px;
        width: 470px;
        margin-right: 20px;
        margin-left: 20px;
        border-radius: 20px;

      }
      .product-details {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border: 1px solid rgb(199, 197, 197);
        padding: 2rem;
        border-radius: 0.8rem;
        height: fit-content;
        width: fit-content;
        min-width: 22rem;
      }
      .product-title {
        word-break: break-word;
        line-height: 1.2;
        font-size: 2.5rem;
        font-weight: bold;
        margin: 0;
        color: black;
        width: fit-content;
      }
      .product-description {
        font-size: 12px;
        margin: 0;
        margin-bottom: 20px;
        color: black;
        line-height: 20px;
        background-color: rgba(255, 255, 255, 0.2)
      }

      .precio-oferta{
        display: flex;
        align-items: center;
      }

      .botones{
        display: flex;
        flex-direction: column  ;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }

      .column{
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      #resena-form{
        margin-bottom: 50px;
      }

      .product-offer{
        background-color: #da2822;
        padding: 5px;
        color: white;
        border-radius: 5px;
        margin-right: 10px;
      }

      .product-stock{
        color: black;
        font-weight: bold;
      }

      .product-price {
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
        color: #da2822;
        margin-right: 15px;
      }

  

      .product-price-original {
        font-size: 20px;
        margin: 0;
        color: gray;
        margin-right: 15px;
        text-decoration: line-through;
      }
      
      .product-btn {
        padding: 10px 20px;
        background-color: #da2822;
        border: none;
        border-radius: 5px;
        color: #fff;
        border-radius: 4px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: transform 0.3s ease;
        margin-top: 22px;
        width: 100%;
      }
  
      .product-btn:hover {
        background-color: #bf231e;
       
      }

      .separar{
        display: flex;
        gap: 1rem;
        align-items: center;
        width: 100%;
      }

      .separar:nth-of-type(2){
        padding-bottom: 1rem;
        border-bottom: 3px solid black;
      }


      .credenciales {
        display: flex;
        border-bottom: 2px solid lightgray;
        padding-bottom: 5px;
        align-items: center;
        font-weight: bold;
      }

      #primeroh3{
        margin-bottom: 15px;
      }

      .credenciales2 {
        display: flex;
        border-bottom: 2px solid lightgray;
        padding-bottom: 5px;
        align-items: center;
        font-weight: bold;
        color: black;
      }

      #descripcion{
        margin-bottom: 30px;
        color: black;
        font-weight: bold;
      }

      .credenciales img{
        width: 42px;
        height: 42px;
        margin-right: 10px;
      }

      .credenciales2 img{
        width: 42px;
        height: 42px;
        margin-right: 10px;
      }

      #fecha{
        margin-left: auto;
      }

      #fecha2{
        margin-left: auto;
      }

      #blanco{
        color: black;
        font-weight: bold;
      }

      #estrella {
        width: 20px;
        height: 20px;
      }

      #estrella2 {
        width: 20px;
        height: 20px;
      }

      #usureseña{
        margin-right: 30px;
      }

      #usureseña2{
        margin-right: 30px;
      }

      .popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;
      }

      .popup2 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;
      }
      
      .popup-contenido {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
      }
      
      .popup-botones {
        margin-top: 20px;
      }
      
      .popup-botones button {
        margin: 0 10px;
        border: none;
        padding: 5px;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #3498db;
      }

      .popup-botones button:hover{
        background-color: #2c80b8
      }

      .reseñas{
        color: lightgray;;
        margin-left: 30px;
        width: 700px;
        text-align: justify;
        line-height:20px;
        padding: 5px;
        border-radius: 5px;
        font-size: 12px;
      }

      .reseña-botones{
        display: flex;
      }

      #comentario-input, #comentario-input2 {
        padding: 0.5rem;
      }

      .reseña{
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        color: black;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      .reseña2{
        background-color: white;
        color: black;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 50px;
      }

      .reseña2 a{
        border: none;
        padding: 5px;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #3498db;
        margin-left: 0px;
      }

      .reseña2 a:hover{
        background-color: #2c80b8;
      }
      
      #contenidoreseña2{
        color: rgb(42, 42, 42);
      }

      .picture{
        width: 4rem;
        height: 4rem;
        border-radius: 5rem;
        background-color: rgba(218,40,34, 0.5);
   
      }

.customercare{
        margin-top: 1rem;
        display: flex;
        align-items: center;
        border: 1px solid lightgray;
        border-radius: 0.4rem;
        gap: 2rem;
        padding: 0.4rem;
      }

.customercare p{
        font-size: 1rem;
      }

      .customercare a{
        color: #da2822;
      }

      .reseña a:hover{
        background-color: #c02520;
      }

      #contenidoreseña{
        color: rgb(42, 42, 42);
      }

      .reseñas h3{
        color: black;
        border-bottom: 4px solid #da2822;
        border-radius: 1px;
        padding-bottom: 10px;
        margin-bottom: 50px;
      }

      .reseñas textarea { 
        width: 695px;
        height: 80px;
        outline: none;
        border-radius: 5px;
        font-size: 13px;
        font-family: 'FuentePagina', sans-serif;
        resize: none;
      }

      .bloque1{
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      .bloque2{
        height: 155px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
      }



      .bloque2 p{
        color: #181818;
        position: relative;
        font-size: 1.25rem;
        font-weight: bold;
        right: 3px;
        text-align: left;
        width: 100%;
      }

      .bloque1 a{
        color: black;
        border-radius: 5px;
        width: fit-content;
        padding: 5px;
        font-weight: bold;
      }

      .bloque1 a:hover{
        color: #da2822;
      }

      .reseña a{
        border: none;
        padding: 5px;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #da2822;
        margin-left: 0px;
      }


    .rating {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    .star {
      display: inline-block;
      cursor: pointer;
    }

    .star img[src="img/star-off.png"] {
      background-image: url('../img/star-off.png');
    }
    


    #ratings input{
      margin-left: auto;
      border: none;
      background-color:#3498db;
      color: white;
      border-radius:5px;
    }

    #loginreminder{
      font-size: 15px;
      color: black;
    }

    #ratings input:hover{
      background-color:#236c9c;
      cursor: pointer;
    }

    #ratings{
      display: flex;
      margin-bottom: 20px;
    }


    .star img[src="img/star-on.png"] {
      background-image: url('../img/star-on.png');
    }

    .star img{
      width: 30px;
      cursor: pointer;
    }
  
    @keyframes custom-cursor {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    
    .custom-cursor {
      cursor: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 4px solid #000;
      border-top-color: transparent;
      animation: custom-cursor 0.8s infinite linear;
    }
  