 #main-container{
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;
        padding-top: 8rem;
        flex: 1;
    }

  
  
    h1{
      font-size: 50px;
      font-weight: bold;
      color: black;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
    }
  

    h3{
        text-align: center;
    }
  
    .estado{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }

    .fila{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .fila img{
      width: 6rem;
    }
   
  
    .bloque-error {
        margin: 0 auto;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 25px;
        padding: 0 2rem 1rem 2rem;
        
    }

    
  
    #error-h3{
        color: black;
    }

    @media(max-width: 980px){
      #main-container{
        justify-content: center;
      }
    }

  