
      .perfil{
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 10px;
        text-align: center;
        float: left;
      }

      .perfil form{
        display: flex;
        justify-content: center;
        margin-top: 10px;
      }

      .datosusuario{
        border-top: 2px solid black;
        padding-top: 15px;
        gap: 1rem;
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: left;
      }

      .datostickets{
        margin-top: 2rem;
        padding-top: 15px;
        gap: 1rem;
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: left;
      }

      .customercare{
        display: flex;
        align-items: center;
        border: 1px solid lightgray;
        border-radius: 0.4rem;
        gap: 2rem;
      }

      #ticketid{
        font-weight: bold;
    }

    .botonesticket{
        display: flex;
        align-items: center;
    }

    .verticket{
      margin-left: auto;
    }


    .botonesticket a:hover{
        background-color: #ba221d;
    }

    .botonesticket button:hover{
        background-color: #ba221d;
        cursor: pointer;
    }

    .botonesticket button:first-child{
      margin-right: 50px;
    }

    .historial h2{
      margin-bottom: 1rem;
    }

    .ticket{
        background-color: white;
        border: 1px solid lightgray;
        padding: 20px;
        padding-bottom: 5px;
        border-radius: 5px;
        min-width: 1000px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        gap:1rem;
    }
    .credenciales{
        display: flex;
        border-bottom: 2px solid lightgray;
        padding-bottom: 5px;
        align-items: center;
        font-weight: bold;
        justify-content: space-between;
    }

    .botonesticket button{
     
        color: white;
        background-color: #da2822;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        padding-left: 20px;
        padding-right: 20px;
        border: none;
        font-weight: bold;
    }

    .botonesticket p{
        margin-right: 10px;
    }

      .customercare p{
        font-size: 1.5rem;
      }

      .customercare a{
        color: #da2822;
      }

      .picture{
        width: 8rem;
        height: 8rem;
        border-radius: 5rem;
        background-color: rgba(218,40,34, 0.5);
   
      }

      #historialBtn{
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: #da2822;
        width: fit-content;
        padding: 0.5rem;
        color: white;
        text-decoration: none;
        border-radius: 0.4rem;
        transition: transform 0.2s ease;
        margin-left: auto;
      }

      #historialBtn:hover{
        transform: scale(1.05);
        
        cursor: pointer;
      }

      #historialBtn img{
        width: 2rem;
        height: 2rem;
      }

      #contenidoreseña{
        text-align: left;
      }

      .fila, .filagap{
        display: flex;
        align-items: center;
        gap: 0.8rem;
      }

      .filagap{
        gap: 2rem;
      }

      .datosusuario h2{
        text-align: left;
      }

      .bloque1{
        font-size: 25px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color:  white;
        box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.1);
        width: 270px;
        height: 100vh;
        align-items: center;
        position: fixed;
        left: 0;
        z-index: 9997;
      }

      .estadisticas h2{
        width: 20rem;
        text-align: center;
      }

      .estadisticas p{
        color: #da2822;
      }

      .columna{
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      .bloque1 div{
        padding-top: 25px;
        color: black;
        padding-bottom: 25px;
        text-align: center;
      }

      .bloque1 .secciondatos{
        color: #da2822;
        border-right: 4px solid #da2822;
      }

      .bloque1 div:hover{
        cursor: pointer;
        color: #da2822;
      }

      .secciondatos a{
        color: #da2822;
      }

      .secciondatos{
        width: 15rem;
      }

      
      .bloque1 a{
        width: 70%;
        text-decoration: none;
      }

      .checkbox{
        display: flex;
        align-items: center;
      }

      #suscripcion{
        margin-right: 5px;
      }


      .datosusuario h5{
        text-align: left;
      }

      .input img{
        width: 20px;
      }

      #mensaje{
        background-color: white;
        color: red;
        padding: 20px;
        border-color: red;
        border-width: 2px;
        border-style: solid;    
        margin-top: 60px;
        border-radius: 5px;
        display: none;
       }


      #aplicar{
        outline: none;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 5px;
        display: none;
        background-color: #3498db;
        color: white;
        cursor: pointer;
      }

      .popup {
        position: fixed;
        top: 0;
        left: 70px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;
      }

      
      .popup-contenido {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
      }
      
      .popup-botones {
        margin-top: 20px;
      }
      
      .popup-botones button {
        margin: 0 10px;
        border: none;
        padding: 5px;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #3498db;
      }

      .popup-botones button:hover{
        background-color: #2c80b8
      }

      .input input{
        margin-right: 12px;
        padding: 0.2rem;
      }

      .disabled{
        pointer-events: none;
      }

      .icon{
        height: 2rem;
        width: 2rem;
      }

      .input{
        display: flex;
        align-items: center;
      }


      .editar:hover{
        cursor:pointer;
      }

      #datospersonales{
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      .datosusuario input{
        height: 25px;
        width: auto;
        border-radius: 5px;
        border: 1px solid black;
        max-width: 300px;
      }

      .datosusuario input[readonly]{
        color: gray;
      }

      .datosusuario input[readonly]:focus{
        border: 1px solid black;
        outline: none;
      }

      .estadisticas p{
        font-size: 35px;
        font-weight: bold;
      }

      .estadisticas{
        text-align: center;
      }

      #contenido{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

  
      .bloque2{
        color: black;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-top: 30px;
        display: flex;
        margin-left: 130px;
        height: fit-content;
        border-radius: 25px;
        padding-bottom: 35px;
        width: 65%;
        flex-wrap: wrap;
        justify-content: center;
      }

      .perfil-imagen-sidebar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid gray;
  position: relative;
  display: inline-block;
  margin-right: 10px;

}

.perfil-imagen-sidebar img {
    width: 100%;
    height: 100%;
}

      .perfil-imagen{
        display: flex;
        align-items: center;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid gray;
        position: relative;
        display: inline-block;
        cursor: pointer;
      }

      

      .perfil-imagen2{
        width: 42px;
        height: 42px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid gray;
        position: relative;
        display: inline-block;
        margin-right: 10px;
      }

      .perfil-imagen2 img{
        width: 100%;
        height: 100%;
      }
      

      #aplicarimagen{
        display: none;
        outline: none;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 5px;
        background-color: #3498db;
        color: white;
        cursor: pointer;
      }

      .perfil-imagen .imagen-original {
        opacity: 1;
        transition: opacity 0.3s ease;
      }
      
      .perfil-imagen .imagen-hover {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      
      .perfil-imagen:hover .imagen-original {
        opacity: 0.4;
      }
      
      .perfil-imagen:hover .imagen-hover {
        opacity: 1;
      }



      .perfil-imagen img{
        width: 100%;
        height: 100%;

      }

      .producto {
        width: calc(33.33% - 80px);
        
        border-radius: 10px;
        margin-top: 50px;
        margin-left: 30px;
        margin-bottom: 80px;
        padding: 15px;
        color: white;
        font-weight: bold;
        height: fit-content;
        transition: transform 0.3s ease;
      }


      #main-content {
        min-height: 100vh;
      }
  
  
      .dividir{
        display: flex;
        padding-top: 6rem;
        padding-bottom: 4rem;
        justify-content: center;
      }
  
  div[contenedor]{
    position: relative;
    min-height: 100vh;
  }


    h1{
      font-size: 20px;
      font-weight: bold;
    }
  
    

  
    .separar{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .estadisticas a{
      color: black;
      font-weight: bold;
      text-decoration: none;
      background-color: #F2E9E4;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid black;
    }

    .estadisticas a:hover{
      background-color: #cec8c4;
    }

    
    .politica {
      text-decoration: none;
      color: white;
    }


  