
  
      #main-content {
        min-height: 100vh;
      }
  
  
    
    #main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

 
    .ticket{
        text-align: left;
    }

    .ticket p{
        margin-bottom: 2px;
        color: white;
    }

    .ticket textarea{
        resize: none;
        height: 120px;
        width: 560px;
    }

    button{
        background-color: #F2E9E4;
        outline: none;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid black;
        font-size: 16px;
        width: 40%;
        cursor: pointer;
    }

    button:hover{
    background-color: #cac3c2;
    }

    
  
  
  
    
  
    .bloque-error {
        margin: 0 auto;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 25px;
        padding: 50px;
    }

 
    #error-h3{
        color: white;
    }

    