RewriteEngine On

# Redirección de infoshop.com a www.infoshop.com
#RewriteCond %{HTTP_HOST} ^infoshop\.com$ [NC]
#RewriteRule ^(.*)$ http://www.infoshop.com/$1 [R=301,L]

# Redirección de /index a /
RewriteRule ^index$ / [R=301,L]

# Agregar la extensión .php a las URL sin ella
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)$ frontend/$1.php [L]